{% extends "core/base.html" %}
{% load static %}

{% block styles %}
{% endblock %}

{% block topScripts %}
{% endblock %}

{% block title %}
Products
{% endblock %}

{% block body %}
<div class="container flex-row">
    <div id="left-panel">
        {% include "core/home-sub-links.html" with products="true" %}
        <div class="card">
            <div class="card-actions flex-row">
                <button class="btn btn-success card-button w-100" onclick="addProduct(this)">Add Product</button>
                <button class="btn btn-info card-button w-100">Print Products</button>
            </div>
        </div>
        <form action="" class="form {% if not values %} hide {% endif %}" id="productForm" method="POST">
            {% csrf_token %}
            <div class="form-content">
                <div class="form-body">
                    <p class="form-title">Add Product</p>
                    <p class="form-sub-title">Fill the following form to add a product. All fields are compulsory.</p>
                    <div class="form-line"></div>
                    <div class="form-group">
                        <label for="productName" class="form-label">Product Name</label>
                        <input type="text" name="productName" class="form-input" value="{{ values.productName }}" required  placeholder="Enter the product name">
                    </div>
                    <div class="form-row">
                        <div class="form-group">
                            <label for="productID" class="form-label">Product ID</label>
                            <input type="text" name="productID" class="form-input" value="{{ values.productID }}" required placeholder="Enter the Product ID">
                        </div>
                        <div class="form-row-gap"></div>
                        <div class="form-group">
                            <label for="productQuantity" class="form-label">Product Quantity</label>
                            <input type="number" name="productQuantity" class="form-input" value="{{ values.productQuantity }}" required  placeholder="Enter the product quantity">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="productQuantity" class="form-label">Product Description</label>
                        <textarea name="productDescription" class="form-input" placeholder="Enter the product description">{{ values.description }}</textarea>
                    </div>
                    {% csrf_token %}
					<input type="submit" value="Add Product" class="btn btn-success">
                </div>
            </div>
        </form>
        <div class="table">
            <p class="table-title">Products</p>
            <p class="table-sub-title">Following are the registered products</p>
            <div class="table-line"></div>
            <form>
                <div class="form-group mb-0">
                    <label class="form-label">Search Here</label>
                    <input type="text" onkeyup="productsSearch(this)" class="form-input" placeholder="Search for products here">
                </div>
            </form>
            <div class="table-cards" id="products">
                {% for p, movement in products %}
                    <div class="table-card product">
                        <div class="table-card-content">
                            <p class="table-card-title">{{ p.name }}</p>
                            <div class="table-card-metrics">
                                <p class="table-card-metric">Created: {{ p.dateCreated|date:"jS F, Y (h:i A)" }}</p>
                                <p class="table-card-metric">Last Modified: {{ p.dateModified|date:"jS F, Y (h:i A)" }}</p>
                            </div>
                            <div class="table-card-metrics">
                                <p class="table-card-metric">Quantity: {{ p.quantity }}</p>
                                <p class="table-card-metric">Movements: {{ movement }}</p>
                            </div>
                            <div class="table-line hide table-card-description-line"></div>
                            <p class="table-card-description hide">{{ p.description }}</p>
                            <div class="table-line"></div>      
                            <div class="table-card-actions">
                                <a href="" class="btn btn-success table-card-button w-100">View</a>
                                <button class="btn btn-info table-card-button w-100" onclick="toggleTableDescription(this)">Show Description</button>
                                <a href="" class="btn btn-info table-card-button w-100">Edit</a>
                                <a href="" class="btn table-card-button btn-danger w-100">Delete</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div id="right-panel">

    </div>
</div>
{% endblock %}

{% block bottomScripts %}
<script defer src="{% static 'core/javascript/products.js' %}"></script>
{% endblock %}