{% extends "core/base.html" %}
{% load static %}

{% block styles %}
{% endblock %}

{% block topScripts %}
{% endblock %}

{% block title %}
Product Locations
{% endblock %}

{% block body %}
<div class="container">
    <div id="left-panel-options">
        {% include "core/home-sub-links.html" with productMovements="true" %}
    </div>
    <div id="left-panel">
        <div class="card">
            <div class="card-actions flex-row">
                <button class="btn btn-success card-button w-100" onclick="addProductMovement(this)">Add Product Movement</button>
            </div>
        </div>
        <form action="" class="form {% if not values %} hide {% endif %}" id="productMovementForm" method="POST">
            {% csrf_token %}
            <div class="form-content">
                <div class="form-body">
                    <p class="form-title">Add Product Movement</p>
                    <p class="form-sub-title">Fill the following form to add a product movement. All fields are compulsory.</p>
                    <div class="form-line"></div>
                    <div class="form-group">
                        <label for="movementID" class="form-label">Movement ID</label>
                        <input type="text" name="movementID" class="form-input" value="{{ values.movementID }}" required placeholder="Enter the Movement ID">
                    </div>
                    <div class="form-row">
                        <div class="form-group">
                            <label for="fromLocation" class="form-label">From Location</label>
                            <select name="fromLocation" class="form-input" onchange="updateProductsList(this)">
                                <option selected value="none">None</option>
                                {% for location in locations %}
                                    <option value="{{ location.pk }}">{{ location.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-row-gap"></div>
                        <div class="form-group">
                            <label for="toLocation" class="form-label">To Location</label>
                            <select name="toLocation" class="form-input">
                                <option selected value="none">None</option>
                                {% for location in locations %}
                                    <option value="{{ location.pk }}">{{ location.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group">
                            <label for="product" class="form-label">Products</label>
                            <select name="product" data-location="none" class="form-input locations-products">
                                {% for product in products %}
                                    <option value="{{ product.pk }}">{{ product.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        {% for key, location in data.items %}
                            <div class="form-group hide">
                                <label for="product" class="form-label">{{ location.location.name }} Products</label>
                                <select name="product" data-location="{{ location.location.pk }}" class="form-input locations-products" disabled>
                                    {% for key, product in location.products.items %}
                                        <option value="{{ product.id }}">{{ product.name }} ({{ product.quantity }} units)</option>
                                    {% endfor %}
                                </select>
                            </div>
                        {% endfor %}
                        <div class="form-row-gap"></div>
                        <div class="form-group">
                            <label for="quantity" class="form-label">Quantity</label>
                            <input type="number" name="quantity" class="form-input" value="{{ values.quantity }}" required  placeholder="Enter the quantity">
                        </div>
                    </div>
                    {% csrf_token %}
					<input type="submit" value="Add Product Movement" class="btn btn-success">
                </div>
            </div>
        </form>
        <div class="table">
            <p class="table-title">Product Movements</p>
            <p class="table-sub-title">Following are the product movements</p>
            <div class="table-line"></div>
            <form>
                <div class="form-group mb-0">
                    <label class="form-label">Search Here</label>
                    <input type="text" onkeyup="productMovementsSearch(this)" class="form-input" placeholder="Search for product movements here">
                </div>
            </form>
            <div class="table-cards" id="products">
                {% for pl in productMovements %}
                    <div class="table-card product-movement">
                        <div class="table-card-content">
                            <div class="table-card-metrics">
                                <p class="table-card-metric">Created: {{ pl.dateCreated|date:"jS F, Y (h:i A)" }}</p>
                                <p class="table-card-metric">Last Modified: {{ pl.dateModified|date:"jS F, Y (h:i A)" }}</p>
                            </div>
                            <div class="table-card-metrics">
                                <p class="table-card-metric">Product: <a href="{% url 'core:viewProduct' pl.product_id.pk %}" class="link" id="productName">{{ pl.product_id.name }}</a></p>
                                <p class="table-card-metric">Quantity: {{ pl.quantity }}</p>
                                <p class="table-card-metric">Type: {{ pl.get_type_display }}</p>
                            </div>
                            <div class="table-line"></div>
                            <p class="table-card-heading">From:</p>
                            {% if pl.from_location %}
                                <p class="table-text"><a href="{% url 'core:viewLocation' pl.from_location.pk %}" class="link mb-5 d-block">{{ pl.from_location.name }}</a></p>
                                <p class="table-text">{{ pl.from_location.address }}</p>
                                <p class="table-text">{{ pl.from_location.city }}, {{ pl.from_location.state }}, {{ pl.from_location.pincode }}, {{ pl.from_location.country }}</p>
                            {% else %}
                                <p class="table-text">None</p>
                            {% endif %}
                            <div class="table-line"></div>
                            <p class="table-card-heading">To:</p>
                            {% if pl.to_location %}
                                <p class="table-text"><a href="{% url 'core:viewLocation' pl.to_location.pk %}" class="link mb-5 d-block">{{ pl.to_location.name }}</a></p>
                                <p class="table-text">{{ pl.to_location.address }}</p>
                                <p class="table-text">{{ pl.to_location.city }}, {{ pl.to_location.state }}, {{ pl.to_location.pincode }}, {{ pl.to_location.country }}</p>
                            {% else %}
                                <p class="table-text">None</p>
                            {% endif %}
                            <div class="table-line"></div>
                            <div class="table-card-actions">
                                <a href="{% url 'core:viewProductMovement' pl.pk %}" class="btn btn-success table-card-button w-100">View</a>
                                <a href="{% url 'core:editProductMovement' pl.pk %}" class="btn btn-info table-card-button w-100">Edit</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div id="right-panel">

    </div>
</div>
{% endblock %}

{% block bottomScripts %}
<script defer src="{% static 'core/javascript/product-movement.js' %}"></script>
{% endblock %}